
#container {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;



}
.rblock{
    
    border-style: 5px groove purple;
}
.cblock {
    width: 30px;
    height:30px;
    border: 1px solid black;
}



 