
.buttonBox {
    display:flex;
    justify-content: center;
    margin: 35px;
}
.container{
    display:flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}
#sketchPad {
    width: 500px;
    height: 500px;
    display: grid;
    border: 8px ridge;
}

.control{
    display: flex;
    justify-content: center;
}