
.buttonBox {
    display:flex;
    justify-content: center;
    margin: 50px;
}
.container{
    display:flex;
    justify-content: center;
}
#sketchPad {
    width: 500px;
    height: 500px;
    display: grid;
    gap: 0;
}
.cellBlock{
    border: 1px solid black;
}
